$color-main:#6edfee;
$color-main-active: #cba35c;
$color-white: #ffffff;
$color-sub: #e28cf4;


$content-width: 1280px;
$content-min-width: 800px;


$font-family-primary: '';
$font-family-title: '';
$font-family-logo: '';




$shadow: 0 0 5px 5px rgb(203, 203, 203);